<body>


    <div class="container">
        <img src="../assets/icons/juego.jpg" alt="" width="100%">
        <h3 class="titulo"> <b>Ingreso</b> </h3>
        <h4 class="texto-bienvenido">Bienvenido, por favor ingresa</h4>


        <div class="email">
            <i class="fas fa-user-circle"></i>
            <input type="text" placeholder="Usuario" [formControl]='email'>

        </div>

        <div class="password">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Contraseña" [formControl]="contrasena">
            <i class="fas fa-eye"></i>

        </div>
        <div class="check">
            <input type="checkbox">
            <p>Recuerdame</p>
            <a href="">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="login">
            <a class="btn_ingreso" href="/coordinador"> <b>Ingresar</b> </a>
        </div>

    </div>


</body>