<body>


    <div class="informacion">
        <img src="../assets/icons/logo.png" alt="" width="12%">
        <h3>Administrador</h3>
        <h3>Jonathan</h3>
        <a routerLink="/login">Salir</a>
    </div>
    <nav>
        <li> <a routerLink="/administrador">Información</a></li>
        <li> <a routerLink="/administradordos" routerLinkActive="active">Medallas</a></li>
    </nav>

    <div>
        <table>
            <tr>
                <td>ORO</td>
                <td>PLATA</td>
                <td>BRONCE</td>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>

            <tr>
                <td>TOTAL ORO</td>
                <td>TOTAL PLATA</td>
                <td>TOTAL BRONCE</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>


        </table>

    </div>
</body>